.navigation{
  width: 256px;
  align-content: space-between;
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  top: 64px;
  z-index: 100;
  padding: 24px 0;
  .link{
    border-radius: 0 24px 24px 0;
    > a{
      border-radius: 0 24px 24px 0;
      display: flex;
      align-items: center;
      padding: 8px 12px 8px 24px;
      .image{
        width: 24px;
        height: 24px;
      }
      &:hover{
        background: rgb(241,243,244);;
      }
      &.active {
        background: #f1bdbd;
        color: #981010;
      }
      .name{
        padding-left: 24px;
      }
    }
  }
}