.wrapper{
  padding: 24px;
  color: rgb(32,33,36);
  font-family: "Google Sans Display",Roboto,Arial,sans-serif;
  line-height: 4rem;
  font-size: 3.5rem;
  letter-spacing: 0;
  font-weight: 400;
  max-width: 1300px;
  margin: 200px auto;
  width: 100%;
}
.placeholder{
  padding-bottom: 1px;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.main_input{
  border: none;
  border-bottom: 1px solid transparent;
  box-sizing: border-box;
  color: inherit;
  display: block;
  font: inherit;
  height: 65px;
  letter-spacing: inherit;
  margin: 0;
  outline: none;
  overflow: hidden;
  padding: 0;
  resize: none;
  transition: .3s cubic-bezier(.4,0,.2,1) all;
  width: 100%;
  &:hover{
    border-bottom: 1px solid rgb(218,220,224);
  }
}
.button_create{
  display: flex;
  margin-top: 50px;
  justify-content: center;
  .disabled{
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 5px;
    width: 160px;
    height: 40px;
    border: none;
    outline: none;
    color: white;
    font-weight: 600;
    background-color: rgb(210, 139, 139);
  }
  .btn_select{
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 5px;
    width: 160px;
    height: 40px;
    border: none;
    outline: none;
    color: white;
    font-weight: 600;
    background-color: rgb(182, 58, 58);
    &:hover{
      background-color: rgb(210, 139, 139);
    }
  }
  .btn_upload{
    position: absolute;
    border-radius: 5px;
    width: 160px;
    height: 40px;
    border: none;
    outline: none;
    color: white;
    font-weight: 600;
    background-color: rgb(182, 58, 58);
    &:hover{
      background-color: rgb(210, 139, 139);
    }
  }
}
.btn{
  border-radius: 5px;
  width: 140px;
  height: 40px;
  border: none;
  outline: none;
  color: white;
  font-weight: 600;
  background-color: rgb(182, 58, 58);
  &:hover{
    background-color: rgb(210, 139, 139);
  }
}