
.wrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 220px;
  .modal{
    font-size: 18px;
    p {
      margin-top: 10px;
      font-weight: 600;
    }
  }
  .logo_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-around;
    .logo{
      font-size: 40px;
    }
  }
}

.close{
  border: none;
  background: none;
  width: 24px;
  height: 24px;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}