.plug{
  border-radius: 10px;
  font-size: 20px;
  width: 500px;
  margin: 200px auto 0;
  text-align: center;
}
//.album_item {
//  margin-right: 20px;
//  position: relative;
//  z-index: 1;
//  display: inline-block;
//  width: 239px;
//  height: 239px;
//  margin-bottom: 30px;
//  .album_image {
//    height: 239px;
//    position: relative;
//    overflow: hidden;
//    z-index: 2;
//
//    img {
//      border-radius: 10px;
//      max-width: 100%;
//      object-fit: cover;
//    }
//  }
//  .link_to_photo{
//    margin-bottom: 20px;
//    &:hover{
//      color: rgb(182, 58, 58);
//    }
//  }
//}